In [25]:
# import libraries
import pandas as pd
import numpy as nd
import os

# Import Data

In [26]:
path = r'C:\Users\Home\Desktop\Career Foundry- Data Analyst.2\Instacart Basket Analysis'

In [27]:
df_prods =  pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [28]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Check the shape of dataframe

In [30]:
#Check Output: df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
df_prods.shape

(49693, 6)

In [35]:
#Check Output: df_ords_combined
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [36]:
df_ords_prods_combined.shape

(32434489, 11)

# Merging df_prods with df_ords_prods_combined

In [49]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [48]:
#Drop unnamed columns in df_ords_combined
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', '_merge'])

KeyError: "['Unnamed: 0.1', 'Unnamed: 0'] not found in axis"